@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: black;
  --background-end-rgb: 255, 255, 255;
  --background-dot-rgb: 20, 20, 20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  inset: 0;
  background-image: radial-gradient(
    rgb(var(--background-dot-rgb)) 1px,
    transparent 1px
  );
  background-size: 16px 16px;
}
